@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: roboto, arial;
}

main {
  display: flex;
  justify-content: center;
  background-image: url(fundo1.PNG);
  background-repeat: no-repeat;
  margin: 2rem 3rem 1rem 3rem;
}

header img {
  display: flex;
  justify-content: center;
  width: 100%;
}

#nome {
  text-align: center;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  font-size: 4.4vw;
  margin: 1rem 3rem 1rem 3rem;
}

#goku {
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  justify-content: center;
}

#btn {
  color: rgb(255, 123, 0);
  font-size: 2rem;
  font-weight: 600;
  background-color: white;
  margin: 1rem 0 0 0;
  padding: 0.5rem;
  border: solid rgb(255, 123, 0) 2px;
  border-radius: 0.4rem;
  cursor: pointer;
}

#btn:hover {
  color: white;
  background-color: rgb(255, 123, 0);
  transition: 0.1s;
}

@media (max-width: 600px) {
  #nome {
    font-size: 4.2vw;
  }

  #btn {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem;
  }
}
